*~
*.pb.h
*.pb.cc

# Object files
*.o
*.ko
*.lo
*.la
*.pc
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.pyc

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*-def.h
.gradle
.classpath
.project
**/*/.settings/*

cscope.*
tags
Build.*
build
logs/
java/socnet/foss
java/socnet/node_modules
java/socnet/bower_components
java/socnet/src/main/webapp/client
java/socnet/.classpath
java/socnet/.settings/*
java/socnet/tvntd-*.log
java/socnet/src/front-end/vntd-*
java/socnet/src/main/css/*.dep
java/socnet/src/main/webapp/css/tvntd*
java/socnet/src/main/webapp/WEB-INF/*
java/socnet/out
java/common/out
java/.idea
java/ether/.idea/
java/socnet/.idea/
java/account/out
java/skel/out
java/socialauth/out
java/socialauth/.classpath
java/socialauth/.gitignore
java/socialauth/.project
java/socialauth/.settings/*
java/.project
java/.settings/*
java/skel/bin/*
foss/**
include/foss/*
*/include/*-def.cpp
app/java/*/build
app/java/.gradle
